@media (max-width: 600px) {
    header {
        position: relative;
    }
    header nav {
        display: none;
        position: absolute;
        top: 3rem;
        background-color: var(--color-green);
        width: 100%;
    }
    header nav li {
        display: block;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icon {
        display: block;
        color: white;
        font-size: 23px;
    }
}

@media (min-width: 600px){
    header nav {
        display: block !important;       
    }
}